body {
    font-family: 'Roboto', sans-serif;
    background: url('/static/background-wide.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #ececec;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(40, 40, 40, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid #444;
}

h1 {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1em;
    color: #ececec;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #444;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th {
    background-color: #ffcc00;
    color: #1c1c1c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(odd) {
    background-color: rgba(51, 51, 51, 0.8);
}

tr:nth-child(even) {
    background-color: rgba(68, 68, 68, 0.8);
}

tr:hover {
    background-color: rgba(85, 85, 85, 0.8);
    color: #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    th, td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    th, td {
        padding: 8px;
        font-size: 0.9em;
    }
}
